.showmessage{width:100%; background:#29a03f; color:#FFFFFF; height:auto; line-height:normal; font-size:16px; text-align:center; position:fixed; bottom:10px; left:0; z-index:999999; border-top:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; padding:8px;}
.showpopmessage {
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999;
    box-shadow: 2px 3px 3px #c8c8c8;
    padding: 10px;
}
.trip-notification {
    float: left;
    width: 100%;
}
.showpopmessage .trip-pic {
    float: none;
    width: 54px;
    border-radius: 100%;
    overflow: hidden;
    height: 54px;
    margin-right: 10px;
	display:inline-block;
}
.showpopmessage h2 {
    margin: 0px;
    font-size: 17px;
       margin-bottom: 7px;
    font-weight: 600;
}
.showpopmessage .trip-title {
    font-size: 13px;
}
.showpopmessage .trip-link {
    float: right;
    margin-top: 15px;
}
.showpopmessage .trip-link a {
    margin: 0px 0px 0px 28px;
    color: #000;
}
.trip-content {
    float: left;
    width: 100%;
}
.trip-pic-outer {
    width: 20%;
    float: left;
    text-align: center;
}
.showpopmessage .trip-pic img{ width:100%;}
#ourgmap{width:100%; height:500px;}
.mapbox{width:100%; height:330px;}
.displaydistance{color:#FFFFFF; text-align:center;}
.note-content .seenmsg{background:url(../images/g.png) no-repeat; width:20px; height:17px; display:block;background-size:20px auto;}
.note-content .notseenmsg{background:url(../images/w.png) no-repeat; width:20px; height:17px; display:block;background-size:20px auto;}
.img-wrape img{ max-width:50px; max-height:50px;}
.img-wrape a{color:#FFFFFF; padding-left:10px;}
.img-wrape i{color:#FFFFFF;}
.trip-notification .img-wrape a, .justify-content-center .img-wrape a{color:#0056b3; padding-left:10px;}
.trip-notification .img-wrape i, .justify-content-center .img-wrape i{color:#0056b3;}

.video-wrape a{color:#FFFFFF; padding-left:10px;}
.video-wrape i{color:#FFFFFF;}
.trip-notification .video-wrape a, .justify-content-center .video-wrape a{color:#0056b3; padding-left:10px;}
.trip-notification .video-wrape i, .justify-content-center .video-wrape i{color:#0056b3;}
.note-content {
    float: left;
    width: 100%;
	position:relative;
	margin-bottom:10px;
}
.clinicnote:before{position: absolute;
    top: -2px;
    left: -12px;
    width: 0;
    height: 0;
    content: '';
    border: 6px solid transparent;
    border-right-color: transparent;
    border-right-color: transparent;
    border-right-color: transparent;
    border-right-color: #0e58ab;
}
.managernote:before{position: absolute;
    top: 0px;
    right: -12px;
    width: 0;
    height: 0;
    content: '';
    border: 6px solid transparent;
    border-left-color: transparent;
    border-left-color: transparent;
    border-left-color: transparent;
    border-left-color: #4B7B15;

}
.managernote {
border: 1px solid #4B7B15;
padding: 3px 8px;
border-radius: 3px 0px 3px 3px;
float: right;
background: #70a003;
}
.clinicnote {
border: 1px solid #0e58ab;
padding: 3px 8px;
border-radius: 0px 3px 3px 3px;
background: #046cbf;
}