<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881076030988-eghjm1i133r9hbavt5lat4kimjl2cvg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881076030988-eghjm1i133r9hbavt5lat4kimjl2cvg8</string>
	<key>API_KEY</key>
	<string>AIzaSyCOVuyOxm9M4m3YKsY7A-GI_wBSwMbJN98</string>
	<key>GCM_SENDER_ID</key>
	<string>881076030988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>doctor.wellnowhealth.com</string>
	<key>PROJECT_ID</key>
	<string>wellnow-health-app-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>wellnow-health-app-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881076030988:ios:6b2f28a874de8c6a</string>
	<key>DATABASE_URL</key>
	<string>https://wellnow-health-app-manager.firebaseio.com</string>
</dict>
</plist>